include gym_push/envs/data/*.csv
recursive-include gym_push/envs/web *
recursive-include gym_push/envs/data/user_1 *
recursive-include gym_push/envs/data/user_5 *
recursive-include gym_push/envs/results *